---
import formatDate from "@/utils/formatDate";

type Props = {
  title: string;
  publishedAt: Date;
  description?: string;
  slug?: string;
  image?: string,
};

const { title, publishedAt, description, slug, image } = Astro.props;
---

<a
  class="group flex max-w-sm cursor-pointer flex-col gap-2 rounded-md
  border border-border-light dark:border-neutral-700
  bg-secondary-light dark:bg-transparent
  p-4 transition-all duration-300 hover:-translate-y-2
  hover:border-muted-light dark:hover:border-neutral-400
  hover:shadow-md dark:hover:shadow-none"
  href={`/posts/${slug}`}
>
  <div
    class="flex w-full flex-col justify-between gap-2 md:flex-row md:items-center"
  >
  {image && (
    <img
      src={image}
      alt={title}
      loading="lazy"
      decoding="async"
      class="w-16 h-16 object-cover rounded-md"
    />
  )}
    <p class="text-text-light font-medium dark:text-neutral-100">{title}</p>
    <div class="flex flex-row items-center gap-4">
      <p class="text-muted-light dark:text-neutral-400">{formatDate(publishedAt)}</p>

      <svg
        width="18"
        height="18"
        viewBox="0 0 18 18"
        fill="none"
        class="text-muted-light dark:text-neutral-400 transition-all duration-300 group-hover:translate-x-1"
      >
        <path
          d="M5.25 12.75L12.75 5.25"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M5.25 5.25H12.75V12.75"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </div>
  </div>

  <p class="truncate text-muted-light dark:text-neutral-400">
    {description}
  </p>
</a>
